<!DOCTYPE html>
    <html ng-app="pizzaOrder">
        <head>
          <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
          <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
          <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            <script src="js/app.js"></script>
            <script src="js/services/service.js"></script>
            <script src="js/controllers/loginController.js"></script>
            <script src="js/controllers/registerController.js"></script>
            <script src="js/controllers/userController.js"></script>
            <script src="js/controllers/adminController.js"></script>
            <script src="js/controllers/logoutController.js"></script>
            <script src="js/controllers/displayController.js"></script>



              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
              <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
              <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
              <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
              <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css"/>
              <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              <link rel="stylesheet" type="text/css" href="./css/styles.css">
              <title>Conestoga Pizzeria</title>

        </head>
        <body>
          <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <text class='navbar-header-text'>CONESTOGA PIZZA</text>
                </div>
                <div ng-controller="displayController">
                <p class="navbar-text" id="displayName" ng-if="name">Hi!! <span class='bold'>{{name}}</soan></p>
                </div>
                <div class="collapse navbar-collapse" ng-controller="logoutController">
                <ul class="nav navbar-nav navbar-right">
                  <li><a ng-click="logout()"><i class="fa fa-sign-in fa-fw fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            </nav>
          </div>
          <!-- end -->

        <div class='container' ui-view style="padding:100px 0px 50px " >

        </div>
         <!-- Its footer -->
         <div class="container-fluid" id="footer">
         <nav class="navbar navbar-default navbar-fixed-bottom">
           <div class="container">
             <div class="navbar-header" id="copyright">
               <p><span class="glyphicon glyphicon-copyright-mark"></span>Conestoga Pizza</P>
               </div>
             </div>
           </nav>
         </div>

         <script type="text/javascript">
         (function(){
           var p = document.createElement('script');
           p.type = 'text/javascript';
           p.async = true;
           p.src = 'https://apis.google.com/js/client.js?onload=onloadFunction';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(p,s);
         })();

         function onloadFunction(){
           gapi.client.setApiKey('AIzaSyArxQNE0U970larR49XQuez78nbYtlysmk');
           gapi.client.load('plus','v1',function(){});
         }
         </script>

       </body>
  </html>
