<!DOCTYPE html>
    <html ng-app="pizzaOrder">
        <head>

            <script src="./lib/jquery/jquery.min.js"></script>
            <script src="./lib/angular/angular.min.js"></script>
            <script src="./lib/angular-animate/angular-animate.min.js"></script>
            <script src="./lib/angular-aria/angular-aria.min.js"></script>
            <script src="./lib/angular-material/angular-material.min.js"></script>
            <script src="./lib/angular-toastr/angular-toastr.tpls.min.js"></script>
            <script src="./lib/angular-ui-router/angular-ui-router.min.js"></script>
            <script src="./lib/bootstrap/bootstrap.min.js"></script>

           <!--  <script src="js/app.js"></script>
            <script src="js/services/service.js"></script>
            <script src="js/controllers/loginController.js"></script>
            <script src="js/controllers/registerController.js"></script>
            <script src="js/controllers/userController.js"></script>
            <script src="js/controllers/adminController.js"></script>
            <script src="js/controllers/logoutController.js"></script>
            <script src="js/controllers/displayController.js"></script> -->

            <script src="./dist/js/app.min.js"></script>

            <link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css"/>
            <link rel="stylesheet" href="./lib/angular-material/angular-material.min.css"/>
            <link rel="stylesheet" href="./lib/angular-toastr/angular-toastr.min.css"/>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
            <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css"/>
            <!-- <link rel="stylesheet" type="text/css" href="./css/styles.css"> -->
            <link rel="stylesheet" href="./dist/css/styles.min.css"/>

              <meta name="viewport" content="width=device-width, initial-scale=1.0" />

              <title>Conestoga Pizzeria</title>

        </head>
        <body>
          <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <text class='navbar-header-text'>CONESTOGA PIZZA</text>
                </div>
                <div ng-controller="displayController">
                <p class="navbar-text" id="displayName" ng-if="name">Hi!! <span class='bold'>{{name}}</soan></p>
                </div>
                <div class="collapse navbar-collapse" ng-controller="logoutController">
                <ul class="nav navbar-nav navbar-right">
                  <li><a ng-click="logout()"><i class="fa fa-sign-in fa-fw fa-2x"></i></a></li>
                </ul>
              </div>
            </div>
            </nav>
          </div>
          <!-- end -->

        <div class='container' ui-view style="padding:100px 0px 50px " >

        </div>
         <!-- Its footer -->
         <div class="container-fluid" id="footer">
         <nav class="navbar navbar-default navbar-fixed-bottom">
           <div class="container">
             <div class="navbar-header" id="copyright">
               <p><span class="glyphicon glyphicon-copyright-mark"></span>Conestoga Pizza</P>
               </div>
             </div>
           </nav>
         </div>

         <script type="text/javascript">
         (function(){
           var p = document.createElement('script');
           p.type = 'text/javascript';
           p.async = true;
           p.src = 'https://apis.google.com/js/client.js?onload=onloadFunction';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(p,s);
         })();

         function onloadFunction(){
           gapi.client.setApiKey('AIzaSyArxQNE0U970larR49XQuez78nbYtlysmk');
           gapi.client.load('plus','v1',function(){});
         }
         </script>

       </body>
  </html>
