<div>
<md-card ng-repeat="n in user">
  <div class='row'>
         <div class="col-md-10">
       <md-card-title>

         <md-card-title-text>
           <span class="md-headline">{{n.name}}</span>
           <span class="md-subhead">{{n.email}}</span>

          <span class="md-subhead"> <strong>Address</strong></span>
           <span>{{n.apt}}, {{n.street}}</span>
           <span>{{n.city}} {{n.province}}</span>
           <span>{{n.postal}}</span>
         </md-card-title-text>
       </md-card-title>
       </div>
       <div class="col-md-2 pull-right">
       <md-card-actions layout="row" layout-align="end center">
         <md-tooltip md-direction="{{demo.tipDirection}}">Delete</md-tooltip>
         <md-button class="md-fab md-default md-hue-2" aria-label="Profile" ng-click="delete(n._id)">
          <md-icon><i class="material-icons md-24">clear</i></md-icon>
      </md-button>
       </md-card-actions>
     </md-card>
   </div>
</div>
</div>
