<!--Crust form  -->
<div class='crust_column'>

<form class="form-horizontal" name="crustForm"  ng-submit="createCrust()" novalidate>
  <h3>Crust</h3>
  <div class="form-group row" ng-class="{ 'has-error' : crustForm.Name.$invalid && !crustForm.Name.$pristine }">
    <label class="col-md-2 col-sm-2 col-xs-4 col-form-label">Name</label>
    <div class="col-md-10 col-sm-10 col-xs-8">
    <input type="text" class="form-control" name='Name' ng-model='crustForm.name'  placeholder=" Enter Type of crust" required>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-error' : crustForm.Description.$invalid && !crustForm.Description.$pristine }">
    <label class="col-md-2 col-sm-2 col-xs-4 col-form-label">Price</label>
    <div class='col-md-10 col-sm-10 col-xs-8'>
    <input type="number" min='0' class="form-control" name='Description' ng-model='crustForm.price' placeholder=" Enter price" required>
    </div>
  </div>
  <div class='col-md-offset-2 col-sm-offset-2 col-xs-offset-2' style='margin-left:18%'>
  <button type="submit"  ng-disabled="crustForm.$invalid" class="btn btn-primary col-md-4 col-sm-4 col-sm-4"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>Add Crust</button>
  </div>
</form>
</div>
<!--end of crust form  -->
