<div class='col-md-12'>
  <div class='storeCard-group'>
  <div class="storeCard col-md-3" ng-repeat="store in storeDetails">
    <img ng-src={{store.image}} alt="Store Image">

    <div class="storeCard-content">
      <h3>{{store.name}}</h3>
      <h5>{{store.description}}</h5>

      <div class='storeCard-address'>
        <div class='address-heading'>Address</div>
        {{store.address}}
      </div>

      <div class='storeCard-button'>
        <button type="button" class="btn btn-primary" ng-click="gotoStore(store.name, store._id)"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Store
             <md-tooltip md-direction="{{delete.tipDirection}}">Go To Store</md-tooltip>
         </button>
      </div>
    </div>
  </div>
</div>
</div>
