<div ng-controller="adminController">
    <!--Defining Tabs-->
    <div style="margin-bottom: 1%">
        <ul class="nav nav-pills">
            <li ui-sref-active="active">
                <a ui-sref='.order({storeId :storeId})'><span class='tab-header'><i class='fa fa-cutlery'></i> Orders</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref='.inventory({storeId :storeId})'><span class='tab-header'><i class='fa fa-info'></i> Inventory</span></a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a ui-sref='.personal({storeId :storeId})'><span class='tab-header'><i class='fa fa-user-secret'></i> Admin Data</span></a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a ui-sref='dashboard.admin({userId : userId})'><span class='tab-header'><i class="fa fa-undo" aria-hidden="true"></i> Dashboard</span></a>
            </li>
        </ul>
    </div>
    <!--end of defining tabs-->
    <div class="row well">
        <ui-view></ui-view>
    </div>

</div>
