<div ng-controller='createItemController'>

  <div class="alert alert-warning  col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-md-6 col-sm-6 col-xs-6 text-center">
    <h4>Create Items for <strong>{{storeName | uppercase }}</strong> Franchise </h4>
  </div>
  <div class="col-md-offset-10 col-sm-offset-10 col-xs-offset-6">
    <button type="button" class="btn btn-primary" ng-click='goToDashboard()'><i class="fa fa-undo fa-lg" aria-hidden="true"></i>Dashboard</button>
  </div>


  <div class='well col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2'>
    <h2 class='text-center'>Add Items</h2>
    <ui-view></ui-view>
  </div>

</div>
