<div ng-controller="userController">
 <div style="margin-bottom: 1%">
    <!--Defining Tabs-->
    <ul class="nav nav-pills ">
        <li ui-sref-active="active">
            <a ui-sref=".order"><font class='tab-header'><i class='fa fa-cutlery'></i> Order Pizza</font></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref=".details"><font class='tab-header'><i class='fa fa-info'></i> Personal Data</font></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref=".history"><font class='tab-header'><i class='fa fa-history'></i> History</font></a>
        </li>
    </ul>
 </div>
    <!--End of tabs-->
    <div class="row">
        <div class="col-md-12 well">
            <ui-view></ui-view>
        </div>
    </div>
</div>
