<div ng-controller="userController">
 <div   style="margin-bottom: 1%">
    <!--Defining Tabs-->
    <ul class="nav nav-pills ">
        <li ui-sref-active="active">
            <a ui-sref=".order({storeName:storeName , storeId :storeId})"><span class='tab-header'><i class='fa fa-cutlery'></i> Order Pizza</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref=".details({storeName :storeName,storeId :storeId, userId : userId})"><span class='tab-header'><i class='fa fa-info'></i> Personal Data</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref=".history({storeName : storeName, storeId :storeId, userId:userId })"><span class='tab-header'><i class='fa fa-history'></i> History</span></a>
        </li>
    </ul>
 </div>
    <!--End of tabs-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 well">
            <ui-view></ui-view>
        </div>
    </div>
</div>
