<div class="col-md-3 ">
    <!--<h3>Your Order</h3>-->
    <!--<h4 ng-if="size">Size</h4>-->
    <!--<strong>{{sizeName}} {{sizePrice}}</strong>-->
    <!--<h4 ng-if="crust">Crust</h4>-->
    <!--<strong>{{crustName}} {{crustPrice}}</strong>-->
    <!--<h4 ng-if="cheese">Cheese</h4>-->
    <!--<strong>{{cheeseName}} {{cheesePrice}}</strong>-->
    <!--<h4>Toppings</h4>-->
    <!--<h4 ng-if="veggie">Veggie</h4>-->
    <!--<table>-->
        <!--<tr ng-repeat = "veggie in veggieObject">-->
            <!--<td>{{ veggie.name }}</td>-->
            <!--<td>{{ veggie.price }}</td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--<h4 ng-if="meat">Meat</h4>-->
    <!--<table>-->
        <!--<tr ng-repeat = "meat in meatObject">-->
            <!--<td>{{ meat.name }}</td>-->
            <!--<td>{{ meat.price }}</td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--<form>-->
        <!--<div class="form-group row">-->
            <!--<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="inputEmail3" ng-bind="sizeName">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
</div>