<div class="col-md-6">

  <md-card ng-repeat="n in personal">
    <md-card-title>
           <md-card-title-text>
             <span class="md-headline">{{n.name}}</span>
             <span class="md-subhead">{{n.email}}</span>

            <span class="md-subhead"> <strong>Address</strong></span>
             <span>{{n.apt}}, {{n.street}}</span>
             <span>{{n.city}} {{n.province}}</span>
             <span>{{n.postal}}</span>
           </md-card-title-text>
         </md-card-title>
      </md-card>
  </div>
</div>
