<div class="col-md-6 col-sm-6 col-xs-12 well form-horizontal">
  <p class="tab-header">Personal Details</p>

  <div class="form-group">
      <label class="col-md-4 labelPersonalDetails ">Name:</label>
      <div class="col-md-8" class="showPersonalDetails"><span ng-bind="adminDetails.name | firstCapital"></span></div>
  </div>
  <div class="form-group">
      <label class="col-md-4 labelPersonalDetails">User Name:</label>
      <div class="col-md-8" class="showPersonalDetails"><span ng-bind="adminDetails.userName"></span></div>
  </div>
  <div class="form-group">
      <label class="col-md-4 labelPersonalDetails">Email:</label>
      <div class="col-md-8" class="showPersonalDetails"><span ng-bind="adminDetails.email"></span></div>
  </div>
  <div class="form-group">
      <label class="col-md-4 labelPersonalDetails">Address:</label>
      <div class="col-md-8" class="showPersonalDetails">
      <div><span ng-bind="adminDetails.apt"></span></div>
      <div><span ng-bind="adminDetails.street | firstCapital"></span></div>
      <div><span ng-bind="adminDetails.city | firstCapital"></span>, <span ng-bind="adminDetails.province | firstCapital"></span></div>
      <div><span ng-bind="adminDetails.postal | capitalize"></span></div>
      </div>
  </div>
  <div class="form-group">
      <label class="col-md-4 labelPersonalDetails">Phone:</label>
      <div class="col-md-8" class="showPersonalDetails"><span ng-bind="adminDetails.phone"></span></div>
  </div>
  </div>
</div>
